SECRETS=$(kamal secrets fetch --adapter 1password --account <ACCOUNT_ID> --from <VAULT/ITEM> KAMAL_REGISTRY_PASSWORD GIT_URL)
KAMAL_REGISTRY_PASSWORD=$(kamal secrets extract KAMAL_REGISTRY_PASSWORD ${SECRETS})
GIT_URL=$(kamal secrets extract GIT_URL ${SECRETS})
