<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="/assets/images/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/assets/images/favicon.svg" />
  <link rel="stylesheet" href="/assets/stylesheets/tufte.css">
  <link rel="stylesheet" href="/assets/stylesheets/custom.css">
  <title><!--# echo var="title" --></title>
  <meta property="og:title" content="Artes Liberales" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://artesliberales.org" />
  <meta property="og:image" content="https://artesliberales.org/assets/images/aristotle-and-alexander.jpg" />
  <meta property="og:description" content="A restoration of the classical curriculum, guided by the Ratio Studiorum (1599)." />
</head>
<body>
